.admin {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
    cursor: pointer;
    color: white;
    background-color: antiquewhite;
    background-image: url(/src/images/pizzabg.jpg.jpg)
  }